extends layout

block content
  h1= title
  form(action="/new" method="POST")
    p Name:
      input(type="text" name="name")
    p Job:
      input(type="text" name="job")
    button Add

  if people && people.length > 0
    ul
      each person in people
        li
          h2= person.name + "(" + person.job + ")"
          a(href="/update/#{person._id}") Update
          a(href="/delete/#{person._id}") Delete
  else
    p No people...

